@use '../../partials/breakpoints' as *;
@use '../../partials/colors' as *;
@use '../../partials/textstyles' as *;
@use '../../partials/typeface' as *;

.homepage {
    &__container {
        display: flex;
        flex-direction: column-reverse;
        @include tablet {
            flex-direction: row;
        }
    }
}