@use '../../partials/breakpoints' as *;
@use '../../partials/colors' as *;
@use '../../partials/textstyles' as *;
@use '../../partials/typeface' as *;

.navlist {
    &__container {
        display: flex;
        color: $chocolate_cosmos;
        cursor: pointer;
        list-style: none;
    }
    &__container,
    &__links {
        margin: 0 15px;
    }
}