@use '../../partials/breakpoints' as *;
@use '../../partials/colors' as *;
@use '../../partials/textstyles' as *;
@use '../../partials/typeface' as *;

.homepageText {
    &__wrapper {
        background-color: $chocolate_cosmos;
        display: flex;
        flex-direction: column;
    }
    &__nav {
        width: 100%;
        margin: 0 auto;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: $tan;
        color: $chocolate_cosmos;
        font-family: 'Raleway SemiBold';
        font-size: $h3_text_size_m;
    }
    &__content {
        padding: 60px 0 40px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $tan;
        @include tablet {
            padding: 0 80px;
        }
    }
    &__logo {
        height: 100px;
        padding-bottom: 30px;
    }
    &__line {
        width: 40%;
    }
    &__motto {
        margin: 20px;
        padding-top: 0px;
        text-align: center;
        font-size: $h3_text_size_m;
    }
}
