// comfortaa
@font-face {
    font-family: 'Comfortaa Light';
    src: url('../assets/fonts/comfortaa/Comfortaa-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Comfortaa Regular';
    src: url('../assets/fonts/comfortaa/Comfortaa-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Comfortaa Medium';
    src: url('../assets/fonts/comfortaa/Comfortaa-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Comfortaa SemiBold';
    src: url('../assets/fonts/comfortaa/Comfortaa-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Comfortaa Bold';
    src: url('../assets/fonts/comfortaa/Comfortaa-Bold.ttf') format('truetype');
}

// raleway straight
@font-face {
    font-family: 'Raleway Extra Light';
    src: url('../assets/fonts/raleway/Raleway-ExtraLight.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway Light';
    src: url('../assets/fonts/raleway/Raleway-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway Regular';
    src: url('../assets/fonts/raleway/Raleway-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway Medium';
    src: url('../assets/fonts/raleway/Raleway-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway SemiBold';
    src: url('../assets/fonts/raleway/Raleway-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway Bold';
    src: url('../assets/fonts/raleway/Raleway-Bold.ttf') format('truetype');
}

// raleway italic
@font-face {
    font-family: 'Raleway Extra Light Italic';
    src: url('../assets/fonts/raleway/Raleway-ExtraLightItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway Light Italic';
    src: url('../assets/fonts/raleway/Raleway-LightItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway Regular Italic';
    src: url('../assets/fonts/raleway/Raleway-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway Medium Italic';
    src: url('../assets/fonts/raleway/Raleway-MediumItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway SemiBold Italic';
    src: url('../assets/fonts/raleway/Raleway-SemiBoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway Bold Italic';
    src: url('../assets/fonts/raleway/Raleway-BoldItalic.ttf') format('truetype');
}